@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');



.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

html {
    scroll-behavior: smooth;
}

h1 {
  
    padding: .01%;
 
    text-align: center; 
    font-family: 'Mulish', sans-serif;
    font-weight: 600;

}

.container {
    width: 100%;
    margin: auto;
    background-color: #ffffff;
  

    
}
body {
    margin: 0%;
    background-color: #ffffff;
   
}

.onehundredpercentimage {
    object-fit: cover;
    margin: 0%;
}

img {
    width: 100%;
    
}

header {
    padding: 0%;
    margin: 0%;
}

.navbar {
    width: 100%;
    
    float: left;
    background-color: #78d3f7;
    margin: 0%;
    padding: 0%;
    list-style-type: none;

    align-content: center;
    font-family: 'Mulish', sans-serif;
   display: block;
    text-align: center;
 

}

.navitem {
    display: inline-block;
    padding: 11px;
     background-color: #78d3f7; 
    text-align: center;
    font-size: 1.3rem;
    transition: 0.4s;
    

}

.navitem:hover {
   background-color: #92278e;
    color: #ffffff;
}

.navitem:a {
    display: block;
}

a{
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: none;
    color: #ffffff;
}

a:visited {
    text-decoration: none;
   
}
a:active {
    text-decoration: none;

}

.threeitemscontainer {
    padding: 1%;
    align-content: center;
    display: inline-block;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.threeitemscontainer2 {
    padding: 1%;
    align-content: center;
    display: inline-block;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-evenly;
}

.threeitem {
    background-color: #ffffff;
    border: solid 2px #92278e;
    padding: 1%;
    display: inline-block;
    text-align: center;
    margin: 1%;
    vertical-align: bottom;
    flex-grow: 1;
  
}

#ticketsheader {
     display: inline-block;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    border-color: #000000;
    margin-left: 0%;
    vertical-align: bottom;
    padding-right: 10%;
    padding-left: 10%;
    background-color: #EB14FF;
    color: #ffffff;
    border-top: 4px solid #ffffff;
    border-right: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff;
    
}

#artistsheader {
     display: inline-block;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    border-color: #000000;
    margin-left: 0%;
    vertical-align: bottom;
    padding-right: 10%;
    padding-left: 10%;
    background-color: #EB14FF;
    color: #ffffff;
    border-top: 4px solid #ffffff;
    border-right: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff;
    
}
.artvendors {
   margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    

}

.vendorsitem1 {
    display: flex;
    padding: 2%;
    text-align: center;
   background-color: #78d3f7;
    color: #000000;
    margin: 0%;
    flex-grow: 1;
}

.vendorsitem2 {
    display: flex;
    padding: 2%;
    text-align: center;
   background-color: #ffffff;
    color: #000000;
    margin: 0%;
    flex-grow: 1;
}



.footercontents {
    overflow: hidden;
    color: #feffa8;
    padding: 3%;
    margin: 0%;
    margin: 0%;
    min-height: 351px;
    background-image:url("bellbaywavecutoutmask.jpg");
    background-size: cover;
    margin-top: 20px;

    

}

.footercontentstext {
    padding-top: 10%;
    width: 100%;
    min-height: 50px;
   display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 3%;




    

}

.footercontentstextitem 
{
   
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 1%;

  
}




.tickets { 
    padding: 0%;
        background-image: url("pixelwater2.jpg");
    background-position: center;
}

.entertainment { 
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
   
}

.artist{ 
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
   
}

.entertainmentheader {

    
    margin-left: auto;
 display: inline-block;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    border-color: #000000;
    margin-left: 0%;
    vertical-align: bottom;
    padding-right: 10%;
    padding-left: 10%;
    background-color: #EB14FF;
    color: #ffffff;
    border-top: 4px solid #ffffff;
    border-left: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff;
  
}


.entertainmentheader1 {
   
  
}

.entertainmentbackground {
    background-image:url(bellinghamview.jpg);
    background-position: center;
}

.sidebysidecontainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-grow: 1;
    align-items: stretch;
  
    
}

.timedates {
    display: inline-block;
    flex-grow: .5;
    flex-basis: auto;
    text-align: center;
    padding: 1%;
    background-color: #78d3f7; 
    color: black;
  
}
.location {
    text-align: center;
    display: inline-block;
    flex-grow: 1.5;
    flex-basis: auto; 
    padding: 1%;
    background-color: #92278e;
    color: #ffffff;
}

.howtopurchaseticketscontainer {
    display: flex;
    justify-content: stretch;
    flex-direction: row;
    flex-grow: 1;
    align-items: stretch;
    background-color: #92278e;
    color: #ffffff;

    padding: 1%;
}

.howtopurchaseticketsitem {
    padding: 0%;
    margin: 0%;
    text-align: center;
    width: 100%;
}

p {
    padding: 2%;
    font-family: 'Open Sans', sans-serif;
    
}
h2 {
     font-family: 'Mulish', sans-serif;
}
.centerparagraphs {
    text-align: center; 
}

.scaleimg {
    width: 120%;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}

.aboutFest {
    padding: 1%;
    padding-top: 50px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    background-image: url("pixelwater2.jpg");
    
}

.onethirdtext {
     justify-content: stretch;
    flex-direction: row;

    align-items: center;
   

}

.onethirdpic {
     justify-content: stretch;
    flex-direction: row;
 
    align-items: center;
   
}
.paintsplotch {
    height: 90%;
   
}


@media (max-width: 750px) {
  .threeitemscontainer {
    flex-direction: column;
  }
    
    .threeitemscontainer2 {
    flex-direction: column;
  }
    
    .sidebysidecontainer {
        flex-direction: column;
    }
    
    .artvendors {
        flex-direction: column;
    }
    
    .footercontents {
    background-color: #ffffff;
    color: #feffa8;
    padding: 0%;
    margin: 0%;
    margin: 0%;
        margin-top: 13px;
    min-height: 351px;
    background-image:url("bellbaywavecutoutmask.jpg");
        background-position: center;


}
    
    .footercontentstext {
    padding-top: 19%;
        flex-direction: column;
        
        
}  .aboutFest {
    padding: 1%;
    padding-top: 50px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    
}


}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}